.cart-wrapper {
  position: relative;
}

.cart__button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
}

.cart__icon {
  color: var(--color-white);
  font-size: 30px;
}

.cart__quantity-indicator {
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -50%;
  color: var(--color-white);
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  font-size: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.cart-body {
  position: absolute;
  top: var(--header-height);
  right: 0;
  z-index: 1;
  overflow: auto;
  outline: none;
  background: #fff;
  border-radius: 8px;
  width: 380px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  animation: fadeDown 0.1s;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__clear-button {
  padding: 0;
  border: none;
  background: none;
  color: var(--color-text);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.667%;
  text-decoration-line: underline;
  cursor: pointer;

  &:hover {
    color: var(--color-accent);
  }
}

.cart__list {
  max-height: calc(64px + 64px + 64px + 48px);
  overflow: auto;
  margin-block: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart__total-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cart__total-price {
  color: var(--color-black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.cart__checkout {
  width: 100%;
  color: var(--color-white);
  background: var(--color-primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: 0.2s;
}

.cart__empty-message {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
