.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  background: var(--color-black);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 50px;
}
